{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt cupiditate maxime aperiam, rem quas quod aliquam, enim officiis suscipit quisquam veniam tempore alias dignissimos ullam labore fugit nemo nesciunt quae sequi at quasi. Tenetur suscipit possimus velit ipsum porro eaque reprehenderit pariatur cumque tempore modi.</p>
        </div>
        <div class="col-md-6">
           <img src="{% static 'assets/images/demo_imge.jpg'%}" alt="no image">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt cupiditate maxime aperiam, rem quas quod aliquam, enim officiis suscipit quisquam veniam tempore alias dignissimos ullam labore fugit nemo nesciunt quae sequi at quasi. Tenetur suscipit possimus velit ipsum porro eaque reprehenderit pariatur cumque tempore modi.</p>
        </div>
        <div class="col-md-6">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt cupiditate maxime aperiam, rem quas quod aliquam, enim officiis suscipit quisquam veniam tempore alias dignissimos ullam labore fugit nemo nesciunt quae sequi at quasi. Tenetur suscipit possimus velit ipsum porro eaque reprehenderit pariatur cumque tempore modi.</p>
        </div>
    </div>
</div>

{% endblock%}